GEMINI_API_KEY=your_gemini_api_key_here

brevo.api.key=your_brevo_api_key_here
brevo.sender.email=your_sender_email_here


## WATCHBUG ## 
# Sentry - Tracking de errores y stacktraces
SENTRY_DSN=https://<key>@<org>.ingest.de.sentry.io/<project-id>

# LogRocket - Grabacion de sesiones de usuario
LOGROCKET_ID=your_org/your_app

# Modo de grabacion manual - El usuario debe hacer clic para iniciar grabacion
# true = Solo graba cuando el usuario hace clic en el boton de grabacion
# false = Graba automaticamente todas las sesiones desde que carga la pogina
LOGROCKET_MANUAL_RECORDING=true

# Supabase - Base de datos centralizada
SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_KEY=your_supabase_anon_key_here

# Nombre del Bucket de Storage en Supabase (debe ser Publico)
SUPABASE_BUCKET_NAME=watchbug-screenshots

# Dashboard de Administracion
# Habilitar en desarrollo, deshabilitar en produccion
WATCHBUG_ADMIN=true
