.navbar {
  width: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
}

.navbar-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E285A9;
  border: 4px solid #000;
  border-radius: 20px;
  padding: 8px 24px;
  box-shadow: 6px 6px 0px #000;
}

.navbar-logo-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 50px;
  object-fit: contain;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-link {
  background: transparent;
  border: none;
  color: var(--color-accent);
  background-color: rgba(209, 0, 87, 0.15);
  border: 3px solid #000 !important;
  border-radius: 12px;
  padding: 2px 14px;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-link--perfil {
  color: #000;
  cursor: default;
}

.navbar-username {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  color: #000;
}

.navbar-link--logout {
  color: var(--color-accent);
  background-color: rgba(209, 0, 87, 0.15);
  border: 3px solid #000 !important;
  border-radius: 12px;
  padding: 2px 14px;
  transition: background-color 0.15s ease;
}

.navbar-link--logout:hover {
  background-color: rgba(209, 0, 87, 0.45);
}

.profile-icon {
  display: inline-flex;
  align-items: center;
  border: 3px solid #000;
  padding: 2px 4px;
  border-radius: 8px;
  background: #E285A9;
  image-rendering: pixelated;
}